


<div class="block max-w-sm p-6 bg-gray-600 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
  <%= render "form", product: @product %>
</div>


<br>

<div>
  <%= link_to "Back to products", dashboard2_index_path %>
</div>
